body {
    background: linear-gradient(to top, rgba(192, 16, 16, 0.8), rgba(192, 192, 192, 0.5)), url(https://i.ibb.co/VQvNXNF/background-sise.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img__logo {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
}
.content__section {
    margin: 50px 0 0 0;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 8px 32px 0px rgba(37, 52, 59, 0.9);
}
.table tbody .course {
    background: #ccc;
    transition: all 0.5s linear;
}
.table tbody .course:hover {
    transform: scale(1.2);
    background: #8f0f0f;
    border-radius: 10px;
}
td a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
td a:hover {
    color: #fff;
}
